.wrapper {
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
}

.idle {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.snap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  animation: animate steps(47);
}

.hide {
  display: none;
}

@keyframes animate {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
